* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 109, 255);
}

/* CSS DOS COMENTÁRIOS */
#comentarios {
    margin-top: 30px;
    padding: 0 20px;
}

#form-comentarios {
    margin-bottom: 20px;
}

#form-comentarios label {
    display: block;
    margin: 5px 0;
}

#form-comentarios input, #form-comentarios textarea {
    width: 100%;
    max-width: 500px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #020101;
    border-radius: 5px;
    resize: none;
}

#form-comentarios textarea {
    height: 150px;
}

#form-comentarios button {
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#form-comentarios button:hover {
    background-color: rgb(43, 4, 80);
}

#lista-comentarios .comentario {
    border-top: 1px solid #000000;
    padding: 10px 0;
    margin-top: 10px;
}

#lista-comentarios .comentario strong {
    display: block;
    margin-bottom: 5px;
}

/* CSS DA HEADER */
header {
    background-color: rgb(56, 5, 104);
    color: rgb(201, 143, 255);
    padding: 16px 0;
    text-align: center;
}

/* CSS DA SEÇÃO SOBRE O ANIME */
.container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.container img {
    border-radius: 15px;
    max-width: 500px;
    height: auto;
    margin-right: 20px;
}

.texto-container {
    max-width: 600px;
}

.texto-container h2 {
    margin-bottom: 10px;
}

.texto-container p {
    margin-bottom: 10px;
    line-height: 1.6;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}