*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CSS DOS COMENTÁRIOS*/
#comentarios {
    margin-top: 30px;
}

#form-comentarios {
    margin-bottom: 20px;
}

#form-comentarios label {
    display: block;
    margin: 5px 0;
}

#form-comentarios input, textarea {
    width: 50%;
    padding: 3px;
    margin: 5px 0;
}

#form-comentarios button {
    padding: 5px 20px;
    background-color: blueviolet;
    color: white;
    border-radius: 10%;
    cursor: pointer;
}

#form-comentarios button:hover {
    background-color:rgb(43, 4, 80)
}

#form-comentarios .comentario {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

#form-comentarios .comentario strong {
    display: block;
    margin-bottom: 5px;
}

/*CSS DA HEADER*/

header {
    background-color: rgb(56, 5, 104);
    color: rgb(201, 143, 255);
    padding: 16px 0px;
}

.container img {
    border-radius: 15px;
    max-width: 500px;
    height: auto;
    margin-right: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
    margin: 20px 20px;
}














