/* Reset de margens e paddings para vários elementos */
body, h1, h2, h3, p, ul, ol, dl, figure, table, fieldset, blockquote {
    margin: 0;
    padding: 0;
}

/* Estilos para o corpo da página */
body {
    background-color: rgba(170, 102, 197, 0.678);
}

/* Estilos para o cabeçalho */
header {
    padding: 16px 0;
    background-color: rgb(56, 5, 104);
    color: rgb(201, 143, 255);
}

/* Estilos para listas dentro de seções */
section li {
    display: inline-block;
    margin-right: 10px;
}

/* Estilos para imagens dentro de listas dentro de seções */
section li a img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    max-height: 35px;
}

/* Estilos para itens de navegação dentro do cabeçalho */
header nav li {
    display: inline;
    margin: 0 20px;
    margin-left: 16px;
    font-size: 20px;
}

/* Estilos para links dentro de itens de navegação */
header nav li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para o título principal */
header h1 {
    margin: 0 20px;
}

/* Estilos para o contêiner principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Estilos para o contêiner do anime */
.container-anime {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    color: #fff;
    line-height: 1.5;
    text-align: left;
}

/* Estilos para imagens dentro do contêiner do anime */
.container-anime img {
    border-radius: 15px;
    max-width: 500px;
    height: auto;
    margin-right: 20px;
    flex: none;
    align-self: flex-start;
}

/* Estilos para o conteúdo "Sobre o Anime" dentro do contêiner do anime */
.container-anime #about-anime {
    flex: 1;
    max-width: calc(50% - 20px);
}

/* Estilos para parágrafos dentro do contêiner do anime */
.container-anime p {
    font-size: 16px;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

/* Estilos para o contêiner de contato */
#contact .container {
    max-width: auto;
    width: 100%;
    margin: 0 auto;
}

/* Estilos para seções da página */
section {
    padding: 24px;
}

/* Estilos para títulos secundários */
h2, h3 {
    color: #fff;
    margin-bottom: 16px;
}

/* Estilos para o contêiner de contato */
#contact .container {
    display: block;
}

/* Estilos para métodos de contato */
.contact-methods {
    display: flex;
    justify-content: space-between;
}

/* Estilos para inputs, textareas e botões em formulários */
form input,
form textarea,
form button {
    display: block;
    margin-bottom: 8px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #480252;
}

/* Estilos para botões de formulários quando ativados */
form button:active {
    transform: translateY(2px);
}

/* Estilos para textareas em formulários */
form textarea {
    resize: none;
}

/* Estilos para inputs e textareas inválidos */
.input-invalid {
    border-color: red;
}

/* Estilos para inputs e textareas com foco */
input:focus, textarea:focus {
    outline: none;
}

/* Estilos para mensagens de erro de e-mail */
#mensagem-erro-email {
    display: block;
    margin: 3px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
    color: red;
}
