/* CSS para estilização da imagem no cabeçalho */
* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

header div {
    position: relative;
}

header img {
    width: 1980px;
    height: 100%; 
    max-width: 100%;
    border: 3px solid #000;
    object-fit: cover;
}

header h1 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    text-shadow: 1px 2px 5px rgb(243, 180, 7);
}
.sections-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.conteudo h2 {
    text-shadow: 1px 2px 5px rgb(230, 173, 16);
}

button {
    margin-top: 10px;
    background-color: #000;
    border-radius: 10px;
    padding: 5px;
    border: none;
    color: #ffffffee;
}

section {
    padding: 10px;
    margin: 0 10px 0;
}

section div {
    margin-bottom: 20px;
}

h2 {
    color: #000000;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.highlight-1 {
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 5px rgb(230, 173, 16);
    font-weight: bold;
}

#texto-extra {
    margin: 0;
    margin-top: 5px;
}

p {
    margin: 0;
}

@media (max-width: 768px) {
    header img {
        height: 25vh;
    }
}
